.spinner{
    height: 3rem;
    width: 3rem;
    border: .1rem solid white;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite ;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}