.spinner{
    height: 3rem;
    width: 3rem;
    border: .1rem solid white;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite ;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.button{
    padding: .7rem;
    border-radius: .5rem;
    margin: 1rem;
    
}

.buttonContainer{
    display: flex;
    justify-content: center;

}